[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[core]
  editor = nvim
[diff]
  tool = nvimdiff
[merge]
  tool = nvimdiff
[difftool]
  prompt = false
[mergetool]
  prompt = false
[include]
  path = ~/.local/.gitconfig.local
